$color-primary: #FFC107; 
$color-primary-2: #FF9800;

$color-secondary: #FF7468;
$color-white: #fff;

$color-gray:  #555555;
$color-gray-2: #C4C4C4;
$color-gray-3: #F6F8F5;
$color-gray-4: #E5E5E5;

$color-light-gray: #E9E9E9;

$color-dark: #000;
$color-dark-2: #222222;

