.about-section {
  width: 75%;
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: 40%;
    img {
      transform: scale(0.8);
    }
  }

  &__text {
    width: 45%;
    text-align: right;

    img {
      padding-top: 1rem;
    }
  }
}