 .campaign-cards-row {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;

    .card {
      width: 32.5%;
      position: relative;

      .campaign-caption {
        background-color: $color-primary;
        text-align: center;
        width: 55%;
        padding: 0.5rem 0;
        font-size: 14px;
        border-radius: 5rem;
        color: $color-white;
        margin-left: 20%;
        margin-top: -2rem;
        position: absolute;
      }

      &-text {
        h3 {
          margin: 2rem 0;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
        }

        p {
            font-weight: 400;
            font-size: 1.8rem;
        }
      }

      &-footer {
          display: flex;
          justify-content: space-between;
          margin-top: 4rem;

          .btn {
              width: 50%;
              text-align: center;
          }

          div {
              width: 50%;
              display: flex;
              
              p {
                  padding-right: 1rem;
                  font-size: 1.2rem;
                  border-right: 1px solid $color-gray-2;
                  font-weight: bold;

                &:last-of-type {
                    padding:0 1rem;
                }
                  span {
                      font-size: 1.8rem;
                  }
              }
          }
      }
    }
  }
