body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 700;
}

.heading-secondary {
    font-size: 3rem;
}

.heading-tertiary {
  font-size: 4rem;
}

.paragraph {
    font-size: 1.8rem;
}