.text-primary {
    color: $color-primary;
}
.text-secondary {
    color: $color-secondary;
}

.text-white {
    color: $color-white;
}

.text-gray {
    color: $color-gray;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-top-extra-large {
    margin-top: 12rem;
}
.u-margin-bottom-small {
    margin-bottom: 2rem;
}
.u-margin-bottom-large {
    margin-bottom: 4rem;
}
