.our-mission-section {
    .bg-container {
        width: 100%;
        height: 25rem;
        background-image: url(../images/about-page-mission-section-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}