.homepage-hero-section {
  background-image: linear-gradient(
      to right,
      rgba(0, 19, 48, 0.7),
      rgba(0, 19, 48, 0.7)
    ),
    url(../images/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 148vh;

  .vector-bg {
    width: 100%;
    position: absolute;
    top: 65rem;

    img {
      max-width: 100%;
    }
  }

  .header-hero {
    width: 75%;
    margin: 20rem auto;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;

    &-images {
      width: 50%;
      margin-top: 15rem;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      &__inner {
        display: flex;
        justify-content: space-between;
      }

      &__image-box {
        img {
          transform: scale(0.95);
        }
        position: relative;
        z-index: 1000;
      }

      &__image-box::before,
      &__image-box::after {
        width: 89%;
        height: 88%;
        content: "";
        display: block;
        position: absolute;
        border-radius: 1.2rem;
      }

      &__image-box::before {
        background-color: $color-primary;
        transform: translate(2.5rem, 1.5rem);
      }

      &__image-box::after {
        background-color: $color-secondary;
        top: 0;
        transform: translate(3rem, 2rem);
        z-index: -1;
      }
    }

    &-text {
      width: 40%;
      .heading-primary {
        line-height: 1;
        padding-top: 2rem;
      }

      h1::before {
        content: " ";
        width: 7rem;
        height: 0.9rem;
        background-color: $color-primary;
        display: block;
      }
      .paragraph {
        width: 90%;
      }
    }
  }
}

.home-about-section {
  width: 75%;
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: 40%;
    img {
      transform: scale(0.8);
    }
  }

  &__text {
    width: 45%;
    text-align: right;

    img {
      padding-top: 1rem;
    }
  }
}

.our-mission-section {
  width: 100%;
  margin-top: 5rem;
  background-color: rgba($color-light-gray, 0.47);
  padding-top: 5rem;

  &__header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .mission-cards-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
    margin-bottom: -14rem;
  }

  .ongoing-campaign-container {
    width: 100%;
    background-image: url(../images/campaign-bg.svg);
    background-repeat: no-repeat;
    height: 45rem;
    display: flex;
    align-items: center;

    .ongoing-campaign-content {
      width: 75%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 15rem;

      &__inner {
        width: 50%;

        &:last-of-type {
          text-align: right;
          width: 40%;
        }
      }
    }
  }
}

.where-other-need-help-section {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 20rem;

  &__text {
    width: 50%;
    h3 {
      font-size: 25px;
    }
  }

  &__image {
    width: 40%;
    margin-right: -4rem;
    z-index: 10;

    img {
      width: 100%;
      transform: scale(1.4);
    }
  }

  .foundation-details {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    &__inner {
      width: 40%;
      div {
        margin-bottom: 5rem;
        div {
          display: flex;
          align-items: center;
          margin-bottom: 0rem;

          img {
            padding-right: 1rem;
            transform: scale(0.8);
          }
        }
      }

      &--detail-amount {
        font-size: 8rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
      }

      &--detail-title {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
  }
}

.help-our-cause-section {
  width: 100%;
  background-image: url(../images/help-our-cause.svg);
  height: 70rem;
  margin-top: -2rem;
  position: relative;

  &-content {
    width: 65%;
    height: 40rem;
    background-color: $color-white;
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    display: flex;

    &__text {
      width: 50%;
      background-color: $color-light-gray;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      .header {
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 1rem;
        background-color: $color-white;
        border-radius: 1rem 0 2rem 2rem;
        position: relative;

        .plus-icon-container {
          width: 6rem;
          height: 6rem;
          background-color: orangered;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: -5%;
          transform: translate(-50%, -50%);
          background: #ffffff;
          box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.15);
        }

        img {
          transform: scale(0.7);
        }
      }
      .body {
        width: 100%;
        padding: 3rem;
        .buttons-container {
          width: inherit;
          .button-row {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;

            .btn-light {
              font-family: inherit;

              span {
                color: $color-gray-2;
              }
            }

            &:not(:last-of-type) {
              .btn-light {
                width: 32%;
                color: $color-gray;
                font-size: 2rem;

                span {
                  font-size: 0.8rem;
                }
              }
            }
            &:last-of-type {
              .btn-light {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 1rem 2rem;
                font-weight: bold;
                font-size: 2rem;
              }
            }
          }
        }

        .btn-secondary {
          width: 100%;
          border-radius: 1rem;
          font-family: inherit;
        }
      }
    }

    &__image {
      width: 50%;
      height: 40rem;

      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }

  .circular-pattern-bg {
    position: absolute;
    transform: scale(0.8);

    &__1 {
      top: 2rem;
      left: 6%;
    }
    &__2 {
      left: 71%;
      top: 40rem;
    }
  }
}

.launch-campaign-section {
  width: 100%;
  padding: 5rem 0;
  margin: 0 auto;
  background-color: $color-gray-3;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;

    .btn {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      &-light {
        background-color: $color-white;
        color: $color-secondary;
        padding: 1rem 2rem;
      }
      &-secondary {
        background-color: $color-secondary;
      }
    }
  }

  .campaign-card-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;

    .card {
      width: 32.5%;
      position: relative;

      .campaign-caption {
        background-color: $color-primary;
        text-align: center;
        width: 55%;
        padding: 0.5rem 0;
        font-size: 14px;
        border-radius: 5rem;
        color: $color-white;
        margin-left: 20%;
        margin-top: -2rem;
        position: absolute;
      }

      &-text {
        h3 {
          margin: 2rem 0;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
        }

        p {
            font-weight: 400;
            font-size: 1.8rem;
        }
      }

      &-footer {
          display: flex;
          justify-content: space-between;
          margin-top: 4rem;

          .btn {
              width: 50%;
              text-align: center;
          }

          div {
              width: 50%;
              display: flex;
              
              p {
                  padding-right: 1rem;
                  font-size: 1.2rem;
                  border-right: 1px solid $color-gray-2;
                  font-weight: bold;

                &:last-of-type {
                    padding:0 1rem;
                }
                  span {
                      font-size: 1.8rem;
                  }
              }
          }
      }
    }
  }

  .bg-pattern {
    position: absolute;
    left: 5%;
    bottom: -7rem;
  }
}


.partner-and-events-section {
    width: 75%;
    margin: 0 auto;
    padding: 12rem 0;
    display: flex;

    .our-partners-container {
        width: 50%;
        border-right: 4px solid $color-gray-4;
        &__header {
            div {
                margin-left: -6rem;
                img {
                    transform: scale(.7);
                }
            }
        }

        .partner-row {
            display: flex;
            justify-content: space-between;
            margin-right: 10rem;
            margin-bottom: 2rem;

            .partner-details {
                width: 80%;
        
                div {
                    width: 100%;
                    margin-left: -3rem;

                    img {
                      transform: scale(.83);
                    }
                }

                .partner-name {
                    font-weight: bold;
                    font-size: 2.3rem;
                }
                
            }
        }
    }

    .upcoming-events-container {
        width: 50%;
        margin-left: 6rem;
        position: relative;

        .event {
            width: 100%;
            display: flex;
            margin-bottom: 4rem;

            &-img {
                width: 40%;
                position: relative;
            }

            &-date {
                position: absolute;
                top: 0;
                left: 71%;
                
                span {
                    width: 4.5rem;
                    display: block;
                }
                
                .date {
                  background-color: $color-primary;
                  border-top-right-radius: 10px;
                  font-size: 2rem;
                  font-weight: 700;
                padding: .5rem 0rem .5rem 1.3rem;

                }
                .month {
                  background-color: $color-dark;
                    padding: 1rem 0rem 1rem 1.3rem;
                    border-bottom-left-radius: 10px;
                  color: $color-white;
                  font-size: 1rem;
                }
            }
            
            &-text {
                padding-left: 1rem;
                &__header {
                    margin-bottom: 1rem;

                    span {
                        font-weight: 300;
                        font-size: 1.2rem;
                    }
                }

                p {
                    font-weight: 300;
                    font-size: 1.4rem;
                }
            }
        }

        .orange-dots-bg {
            position: absolute;
            right: -20%;
        }
    }
}

.sponsors-section {
    width: 100%;
    background-color: $color-gray-4;
    height: 10rem;
    margin-top: -7rem;

    &__inner {
        width: 75%;
        height: 100%;
        margin: 0 auto;
        margin-left: 11.5rem;
        display: flex;
        align-items: center;
        padding: 2rem 0;

        a {
            text-decoration: none;

            img {
                transform: scale(.7);
            }
        }
    }
}

.lastest-blog-post-section {
    width: 100%;
    margin-bottom: 5rem;

    &__inner {
        width: 75%;
        margin: 0 auto;
        padding-top: 10rem;
        display: flex;
        justify-content: space-between;
    }
}